<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/kitchenapp
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.username">
            tomcat
        </property>
        <property name="connection.password">
            tomcat
        </property>

        <!-- List of XML mapping files -->
       <mapping resource="User.hbm.xml"  class="com.kitchenApp.database.User" />

        <mapping resource="UserRole.hbm.xml" class="com.kitchenApp.database.UserRole" />
    </session-factory>
</hibernate-configuration>
